* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 2rem;
  gap: 2rem;
  background-color: rgb(54, 51, 51);
}

.navbar a {
  color: whitesmoke;
}

.input-search {
  padding: 0.5rem 1rem;
  border-radius: 20px;
  border: none;
  width: 250px;
  flex: 2;
  outline: none;
  font-size: 1rem;
}

.input-search::placeholder {
  text-align: center;
}

.link-section {
  display: flex;
  gap: 1rem;
  flex: 1;
}


a {
  text-decoration: none;
}

.emojis-section {
  display: flex;
  gap: 1rem;
  flex: 1;
  justify-content: center;
}

.banner-section {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}

.banner-section button {
  color: whitesmoke;
  margin-top: 2rem;
  width: 70%;
  padding: 1rem 0;
  border-radius: 5px;
  border: none;
  background-image: linear-gradient(90deg, rgb(4, 4, 59), rgb(46, 46, 83));
}

.product-card {
  width: 200px;
  border-radius: 5px;
  border: 1px gray solid;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.product-section {
  display: grid;
  place-items: center;
  padding: 1rem;
}

.product-card h2 {
  font-size: 0.9rem;
}

.product-card p {
  font-size: 0.75rem;
}

.img-container {
  height: 200px;
  overflow: hidden;
}

.main-products {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  justify-content: center;
  padding: 1rem;
}

.product-card img {
  display: block;
  height: 100%;
  margin: auto;
}

.actions-product {
  display: flex;
  gap: 0.5rem;
  padding-inline: 0.5rem;
}

.actions-product p {
  font-size: 1.25rem;
  cursor: pointer;
}

.info-container {
  display: flex;
  gap: 0.5rem;
  flex-direction: column;
  justify-content: space-between;
  height: calc(100% - 200px);
  padding: 0.5rem;
}

.price {
  color: rgb(33, 33, 181);
}

.info-container p {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 4;
}

.footer {
  background-color: rgb(56, 54, 54);
  color: whitesmoke;
  padding: 2rem 0 0 0;
}

.info-footer {
  display: flex;
  justify-content: center;
  gap: 3rem;
  border-bottom: 1px solid gray;
  padding-bottom: 1rem;
}

.info-footer h3 {
  font-size: 0.9rem;
}

.info-footer p {
  font-size: 0.75rem;
}

.copy {
  text-align: center;
  padding-top: 1.5rem;
  font-size: 0.9rem;
}

.add-section {
  display: flex;
  justify-content: space-between;
}

.login-section {
  display: grid;
  place-items: center;
  gap: 1.5rem;
  margin-bottom: 2rem;
}

.login-form {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  border-radius: 5px;
}

.add-admin {
  position: fixed;
  right: 12%;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  background-color: red;
  color: whitesmoke;
  cursor: pointer;
}

.section-create {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  place-items: center;
  display: grid;
  z-index: 100;
  backdrop-filter: blur(5px);
}

.form-create {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  padding: 2rem 1.5rem;
  background-color: lightskyblue;
  gap: 1rem;
}

.form-create input {
  padding: 0.4rem;
  border-radius: 5px;
  outline: none;
  border: none;
}

.update-section {
  display: grid;
  place-items: center;
}